.col {
	min-width: 25vw;
}
@media (max-width:1000px) {
	.col {
		min-width: 250px;
	}
}
html {
	background-color: black;
	color: black;
	background: black;
}
.img {
	box-sizing: content-box;
	width: 275px;
	height: 400px;
	margin: auto;
	align-items: center 0;
}
img {
	box-sizing: content-box;
	width: 275px;
	height: 400px;
	margin: auto;
	margin-bottom: 10px;
	align-items: 0 0;
	overflow: hidden;
	object-fit: cover;
}
.img-main {
	box-sizing: content-box;
	width: 275px;
	height: 400px;
	margin: auto;
	margin-bottom: 10px;
	align-items: center 0;
	overflow: hidden;
	border: 1px solid black;
}
.movie {
	font-size: 17.5px;
	background-color: transparent;
}
.mv-shadow{
	box-shadow: 5px 5px 10px yellow;
	animation-name: breatheMovie;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.character {
	font-size: 17.5px;
	background-color: transparent;
}
* {
	font-family: 'Audiowide', cursive;
	background-color: black;
	color: yellow;
	background: black;
	box-sizing: content-box;
	margin: 0;
	padding: 0;
	width: auto;
}
body {	
	margin: auto;
	padding: 0;
	box-sizing: content-box;
	width: 90vw;
}
a {
	text-decoration: none;
	color: yellow;
}
a:hover {
	text-decoration: none;
	color: yellow;
}
.padding-text {
	padding: 5px;
	padding-bottom: 15px;
}
.heading {
	padding: 0;
	margin: 0;
	font-size: 60px;
}
.empire {
	box-shadow: 5px 5px 10px #EB212E;
	animation-name: breatheEmpire;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}
.republic {
	box-shadow: 5px 5px 10px #15f2fd;
	animation-name: breatheRepublic;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.neither {
	box-shadow: 5px 5px 10px yellow;
	animation-name: breatheNeither;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.top-margin {
	margin-top: 20px;
}
@keyframes breatheEmpire {
	from {
		box-shadow:  5px 5px 10px #EB212E;
	}
	to {
		box-shadow:  7px 7px 15px #EB212E;
	}
}
@keyframes breatheRepublic {
	from {
		box-shadow: 0px 0px 10px #15f2fd;
	}
	to {
		box-shadow: 0px 0px 15px #15f2fd;
	}
}
@keyframes breatheNeither {
	from {
		box-shadow: 0px 0px 10px yellow;
	}
	to {
		box-shadow: 0px 0px 15px yellow;
	}
}
@keyframes breatheMovie {
	from {
		box-shadow: 0px 0px 10px yellow;
	}
	to {
		box-shadow: 0px 0px 15px yellow;
	}
}